body{
    margin: 0px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
main{
    margin-left: 20px;
    margin-right: 20px;
    
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none ;
    background-color: rgba(26, 101, 167, 0.443);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around; 
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 50px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgba(22, 123, 177, 0.637);
}
.whitefont {
    color: white;
    font-size: 30px;
}

.navbar li{
    float: left;
    
}
html {
    background-color: rgb(109, 66, 172);
}
header, footer {
    background-color: rgb(189, 35, 206);
    text-align: center;
}
footer {
    margin-top: 20px;
}
.myButton {
    width: 50%;  /* Ширина кнопки */
    height: 10vh;  /* Висота кнопки */
    font-size: 5rem;  /* Розмір тексту на кнопці */
    padding: 20px;  /* Відступи всередині кнопки */
    background-color: lightblue;  /* Колір фону кнопки */
    border: none;  /* Прибираємо рамку */
    border-radius: 10px;  /* Закруглені кути */
    cursor: pointer;  /* Зміна курсору при наведенні */
    margin-bottom: 200px; /* відстань від низу сторінки до кнопки */
}

/* Стиль кнопки після натискання */
.myButton.clicked {
    background-color: lightgreen;  /* Колір кнопки змінюється на зелений */
}
/* Стиль кнопки при наведенні курсору */
.myButton:hover {
    background-color: deepskyblue;  /* Змінюємо колір фону на синій */
    transform: scale(1.05);  /* Збільшуємо кнопку на 5% */
}

/* Стиль кнопки при наведенні курсору, якщо кнопка активна (клас clicked) */
.myButton.clicked:hover {
    background-color: darkgreen;  /* Змінюємо колір фону на темно-зелений при наведенні */
    transform: scale(1.05);  /* Збільшуємо кнопку на 5% */
}
