body{
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
main{
    margin-left: 20px;
    margin-right: 20px;
    
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none ;
    background-color: rgba(26, 101, 167, 0.443);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 50px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgba(22, 123, 177, 0.637);
}
.navbar li{
    float: center;
    
}
html {
    background-color: rgb(109, 66, 172);
}
header, footer {
    text-align: center;
}
header, footer {
    background-color: rgb(189, 35, 206);
    text-align: center;
}
footer {
    margin-top: 20px;
}
